{{> cal}}
<div id="calendar"></div>
{{!-- <div>
  {{#each users}}
    {{#if isPostShared ../post.id}}
      <h2>{{../post.title}}</h2>
      <p>{{../post.content}}</p>
    {{/if}}
  {{/each}}
</div> --}}