{{!-- welcome!

login or signin --}}
<header>
  <div>
    <img src="../public/images/logo.png" alt="Logo"><p>Event  Connect  about </p>
  </div>
  <div>
    <button id="signup">Signup</button>
    <button id="login">Login</button>
  </div>
</header>
<main>
  <h1>Make the Future Happen Today</h1>
  <p>Whenever you need to plan an event with others, think Event Connect and allow us to make collaboration easier by providing a place for everyone to come together and see in real time what tasks your peers are working on and needs to be done. Whether it is weddings, meetings, or presentations, we can help you make it happen</p>
</main>