<div class="row justify-space-between-md">
  <div class="login-card">
    <img src="../public/images/logo.png" id="logo" alt="Event Connect logo." />
    <h1 id="top_header">Make the Future Happen Today!</h1>
    <br></br>
    <br></br>
    <button onclick="location.href=`/login`" type="button" class="btn btn-primary" id="login">
      Sign In
    </button>
    <div id="or_line"></div>
    <button onclick="location.href=`/signup`" type="button" class="btn btn-primary" type="submit" id="signup">
      Sign Up
    </button>
    <br></br>
  </div>
</div>
<script src="js/app.js"></script>
