<div class="row justify-space-between-md">
  <div class="login-card">
    <img src="../public/images/logo.png" id="logo" alt="Event Connect logo." />
    <form class="form login-form">
      <input placeholder="     Email" class="form-input" type="text" id="email-login" />
      <br></br>
      <input placeholder="     Password" class="form-input" type="password" id="password-login" />
      <br></br>
      <br></br>
      <button class="btn btn-primary" type="submit" id="sign_in">Log In</button>
      <br></br>
      <br></br>
      <div>
        <h6 id="response">Invalid Email or Password</h6>
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>
