/* front-end styling goes here... */
a {
  color: gray;
}

body {
  background-color: gray;
}

.login-card {
  position: relative;
  top: 42px;
  left: 30%;
  width: 45%;
  height: 620px;
  border: 3px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 10px black;
  background-color: white;
}

.login-form,
.signup-form {
  position: relative;
  left: 15%;
  width: 70%;
  height: 23%;
}

#title {
  position: relative;
  left: 43.5%;
  font-size: 50px;
}

#logo {
  position: relative;
  height: 25%;
  width: 83%;
  top: 0%;
  left: 12%;
}

#login_header {
  position: relative;
  left: 10%;
  font-size: xx-large;
}

#email-login,
#password-login,
#username-signup,
#email-signup,
#password-signup {
  width: 100%;
  height: 38%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#password-login, 
#username-signup{
  position: relative;
  top: 1%;
}

#password-signup {
  position: relative;
  top: 2%;
}

#sign_in {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#sign_up {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#response {
  position: relative;
  left: 33.8%;
  height: 35%;
  width: 50%;
}
