a {
  color: white;
}

body {
  background-color: gray;
}

.login-card {
  position: relative;
  top: 42px;
  left: 30%;
  width: 45%;
  height: 620px;
  border: 3px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 10px black;
  background-color: white;
}

.login-form,
.signup-form {
  position: relative;
  left: 15%;
  width: 70%;
  height: 23%;
}

#title {
  position: relative;
  left: 43.5%;
  font-size: 50px;
}

#logo {
  position: relative;
  height: 25%;
  width: 83%;
  top: 0%;
  left: 12%;
}

#login_header {
  position: relative;
  left: 10%;
  font-size: xx-large;
}

#email-login,
#password-login,
#username-signup,
#email-signup,
#password-signup {
  width: 100%;
  height: 38%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#password-login, 
#username-signup{
  position: relative;
  top: 1%;
}

#password-signup {
  position: relative;
  top: 2%;
}

#sign_in {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#sign_up {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#response {
  position: relative;
  left: 31%;
  height: 35%;
  width: 50%;
}

#top_header {
  position: relative;
  font-size: large;
  left: 32%;
}

#or_line{
  position: relative;
  height: 1px;
  left: 15%;
  width: 70%;
  background-color: lightgray;
  margin: 40px 0;
}

#or_line::before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 0 15px;
}

#login, #signup {
position: relative;
width: 37%;
height: 40px;
left: 31%;
border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
