/* front-end styling goes here... */

a {
  color: white;
}

body {
  background-color: gray;
}

/* .wrapper {
  border-color: black;
  position: relative;
} */

/* .navigation {
  position: relative;
  top: 4px;
  left: 6px;
  width: 99.4%;
  height: 132px;
  border: 3px solid black;
} */

/* .contact_info {
  position: relative;
  left: 82%;
  bottom: 26%;
  font-size: 30px;
  
} */

.form_container {
  position: relative;
  top: 42px;
  left: 35%;
  width: 33%;
  height: 450px;
  border: 3px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 10px black;
  background-color: white;
}

.form {
  position: relative;
  left: 15%;
  width: 70%;
  height: 23%;
}

#title {
  position: relative;
  left: 43.5%;
  font-size: 50px;
}

#logo {
  position: relative;
  height: 25%;
  width: 83%;
  top: 0%;
  left: 12%;
}

/* #github {
  margin-right: 47px;
} */

#login_header {
  position: relative;
  left: 10%;
  font-size: xx-large;
}

#email {
  width: 100%;
  height: 38%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  
}

#password {
  position: relative;
  top: 10%;
  width: 100%;
  height: 38%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}


#sign_in {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  box-shadow: 3cm;
}

#sign_up {
  position: relative;
  left: 30%;
  height: 35%;
  width: 40%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

#response {
  position: relative;
  left: 28.5%;
  height: 35%;
  width: 70%;
}